<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931803510926-k78lug1gc0hco4eceuf7u14l9m6soobh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931803510926-k78lug1gc0hco4eceuf7u14l9m6soobh</string>
	<key>API_KEY</key>
	<string>AIzaSyBBB3tkj5vcqCTxEN2Z3KwhA7Pf9MFc8KQ</string>
	<key>GCM_SENDER_ID</key>
	<string>931803510926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.doganoguz.nox</string>
	<key>PROJECT_ID</key>
	<string>nox-app-fecd0</string>
	<key>STORAGE_BUCKET</key>
	<string>nox-app-fecd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931803510926:ios:0f3e6142f8b920b120f1df</string>
</dict>
</plist>